.body{
background:bg.jpg;
}


h1 a ,h1 a:active, h1 a:visited{
    color: black;
}
.page-head {
    background-color: #000000;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    height:170px;
}

.page-head h1,.page-head h6,.page-head h4{
color:yellow;
}

.info h6{
colour:#000000;

}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    margin:30px
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 ,h6{
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited ,.post h1 a: active{
    color:black;
}

.job-title h3{
    background-color: #f5dd5d;

}



.job-list {
    background-color:#f9f9f9;
    width: 300px;
    padding: 25px;
    margin: 25px;
    float:left;
    margin-top: 25px;


}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}


.navigation-tab ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation-tab li {
    float: left;
}

.navigation-tab   li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navigation-tab li a:hover {
    background-color: #111;
}

.list{
box-shadow: 10px 10px 5px #888888;
width: 80%;
margin:auto;
border: none;
padding: 50px;
margin-top:100px;
margin-bottom:80px;
background:#f0f3f4;
color:black;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.list h1{
color:black;
}




.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}


.details{
background-color:black;
width:40%;
clear: both;
display: inline-block;
overflow: hidden;
white-space: nowrap;
color:yellow;
border-radius:25px;
float-left;

}

.detail h6{
 clear: both;
 display: inline-block;
 overflow: hidden;
 white-space: nowrap;
color:white;
font-family:veranda;

}

.button{
background-color: green; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
float:right;

box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

position:fixed;
top:200px;

}

.descr{
font-family: "Arial Black";
font-weight:bold;
font-size:18px;
padding-top:30px;
}

.logout{
background-color: green; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
float:right;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
position:fixed;
top:280px;

}

.date{
float:right;
padding:20px;
}

.info{

}